* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*border: solid 1px;*/
}
main {
  font-family: 'Nunito Sans', sans-serif;
  /*border: solid 1px;*/
}

/*font-family: 'Cinzel', serif;*/
/*font-family: 'Nunito Sans', sans-serif;*/


label, #check {
  display: none;
}

.sidebar{
  display: none;
}

#check{
  position: absolute;
}



.landing {
  /*min-height: 90vh;*/
  /*background: url("./hero.jpg");*/
  /*background-size: cover;*/
  /*padding: 0rem 0rem;*/
  /*border: solid 1px;*/
}

.first{
  min-height: 85vh;
  background: url("./hero.jpg");
  background-size: cover;
  padding: 0rem 0rem;
  /*border: solid 1px;*/
  transition: opacity .5s ease-in-out;

}

.works{
  /*border: solid 1px;*/
  text-align: center;
  background-color: white;
  
}

.works h2{
  background-color: white;
  padding: 2rem 0;
  font-family: 'Cinzel', serif;
  font-size: 3rem;
  /*border: solid 1px;*/
  transition: all .1s ease;
}

.portfolio-cards{
  display: flex;
  list-style: none;
  padding-left: 5rem;
  padding-right: 5rem;
  width: 100%;
  justify-content: space-between; 
}

.portfolio-cards li{
 height: 70vh;
 /*border: solid 1px;*/
 width: 32.8%;
 padding-top: 8rem;
}

.portfolio-cards h3{
   font-family: 'Cinzel', serif;
   padding-bottom: 2rem;
   color: white;
   font-size: 2.5rem;
}

.portfolio-cards a{
  background-color: transparent;
  padding: .7rem 2rem;
  border: solid 1px white;
  color: white;
  font-size: 1rem;
}

.x{
  background: url("images/caps1.jpg");
  background-size: cover;
}

.y{
  background: url("images/caps2.jpg");
  background-size: cover;
}

.z{
  background: url("images/caps3.jpg");
  background-size: cover;
}

.contact,
.about{
  /*border: solid 1px;*/
  display: flex;
  padding: 0rem 3rem;
}

.contact div,
.about div{
  /*border: solid 1px;*/
  width: 50%;
  /*height: 90vh;*/

}

.contact-details,
.about-details{
  background-color: #f0f3f6;
  padding: 3rem;
}

.contact-details h1,
.about-details h1
{
  font-family: 'Cinzel', serif;
  font-size: 3rem;
  text-align: center;
  /*border: solid 1px;*/
  padding: 0 .1rem
}

.about-image{
 /* background-image: url('images/me.png');
  background-size: cover;*/
  display: flex;
  align-items: center;
  justify-content: center;
  /*text-align: center;*/
  background-color: aliceblue;
}

img{
  position: relative;
  /*top: 20%;*/
  width : 80%;
  padding: 2rem;
  /*height: 100%*/

  /*border: solid 1px;*/
}

input, textarea {
  background-color: transparent;
  font-size: 1rem;
  padding: 0.2rem
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 10vh;
  width: 98%;
  padding: 0rem 0rem;
  /*border: solid yellow 1px;*/
}
.nav-links {
  position: relative;
  /*padding-right; */
  display: flex;
  list-style: none;
  /*border: solid 1px;*/
  flex-grow: 3;
}


.nav-links li {
  margin-left: auto;
  font-size: 1.2rem;
  /*border: solid 1px;*/
}
#logo {
  padding-left: 5rem;
  font-family: 'Cinzel', serif;
  font-weight: lighter;
  font-size: 2rem;
  /*border: solid 1px;*/

}

.big-text {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -30%);
  font-size: 8rem;
  font-family: 'Cinzel', serif;
  color: white;
}

.view{
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -30%);
  border-radius: 0;
  font-size: 1.0rem;
  background-color: transparent;
  border: solid 2px white;
  padding: 15px 30px;
  color: white;
  font-weight: bold;
  text-align: center;
} 

.view:hover,
.nav-links li:hover,
#logo
{
  cursor: pointer;
}

.intro {
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider {
  background: rgb(97, 105, 109);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
}

.intro-text {
  color: rgb(233, 233, 233);
  font-family: "Heebo", sans-serif;
  font-size: 3rem;
}

.hide {
  background: black;
  overflow: hidden;
}

.hide span {
  transform: translateY(100%);
  display: inline-block;
}

footer{
  text-align: center;
  height: 5vh;
  font-family: 'Nunito Sans', sans-serif;
}

.footer-logos{
  
  list-style: none;
  align-content: center;
  justify-content: center;
  display: flex;
}

footer li{
  font-size: 20px;
  color: black;
  margin:0 1.5rem;
}

/*==============================================*/
@media (max-width: 768px){

  nav{
          /*border: solid orange 1px;*/
          /*width: 115vh;*/
          /*padding: 0 1rem 0 2.5rem;*/
    }

  .nav-links{
    /*text-align: right;*/
    /*border: solid orange 1px;*/

  }


  .nav-links li {
    /*margin-left: 6rem;*/
    font-size: 1.2rem;
    /*border: solid 1px;*/
  }

   .view{
    top: 57%;
  } 


  .portfolio-cards{
    padding: 0 2.5rem;
    
  }

  .portfolio-cards li{
     /*border: solid 1px;*/
     /*width: 20%;*/
     padding-top: 8rem;
  } 

  .portfolio-cards h3{
   font-size: 2rem;
}


  img{
    margin: center;
  }

  .about{
    padding: 0 2.5rem;
    /*border: solid orange 1px;*/

  }

  .about div{
    /*height: 100%*/
  }

  .about-details{
    padding: 1rem 2rem;
    /*border: solid yellow 1px;*/
  }

  .contact{
    padding: 0 2.5rem;
    /*border: solid orange 1px;*/
    /*height: 100%;*/

  }

  .contact div{
    height: 110vh
  }

  .contact-details{
    padding: 1rem 2rem;
    /*border: solid yellow 1px;*/
  }

  .contact-image{
    position: relative;
    /*border: solid blue 1px;*/
    height:
  }

}



/*==============================================*/
@media (max-width: 600px){

  nav{
        /*border: solid orange 1px;*/
/*        width: 43vh;
*/        /*width: 115vh;*/
        padding-left: 4rem;
  }

  #logo{
    /*border: solid 1px;*/
    font-size: 1.3rem
  }

  .view{
  top: 55%;
} 

  .nav-links{
    display: none;
  }

  .intro-text{
    font-size: 2rem
  }

  .big-text{
    font-size: 5rem;
  }

  .sidebar{
    display: block;
    position: absolute;
    left: -300px;
    height: 100%;
    width: 300px;
    background-color: white;
    z-index: 1;
    transition: all .8s ease;
  }

  .sidebar-links{
    position: relative;
    top: 3rem;
    right: 4rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    height: 40%;
    font-family: 'Nunito Sans', sans-serif
  }

  #check {
    display: none;
  }


  label {
    display: inline-block;
    position: fixed;
    position: absolute;
  }

  #btn, #cancel{
    position: absolute;
    font-size: 1.5rem;
    z-index: 2;
    top: 3vh;
    left: 4vh;
    /*border: solid 1px;*/
  }

  #cancel {
    visibility: hidden  
  }

  #check:checked ~ label #cancel{
    visibility: visible;
  }

  #check:checked ~ label #btn{
    visibility: hidden;
  }

  #check:checked ~ .sidebar{
    left: 0px;
    transition: all .5s ease;
  }  

  /*#check:checked ~ .landing{
    position: absolute;
    background:rgba(0,0,0,0.6);
    transition: opacity 0.5s ease;
  }  */

  .portfolio-cards{
    flex-wrap: wrap;
    padding: 0rem 2rem;
    /*margin-bottom: 3rem;*/
  }

  .portfolio-cards li{
    /*border: solid white 1px;*/
    margin-bottom: 1rem;
    width: 100%
  }

  .portfolio-cards h3{
   font-size: 2.5rem;
}

  .z h3,
  .z a{
    position: relative;
    top: -5%;
  }

  .about{
    display: flex;
    flex-direction: column-reverse;
    /*flex-wrap: reverse-wrap;    */
    padding: 0 2rem;
  }

  .about div{
    
    width: 100%;
    padding: 1rem 0;
    /*border: solid white 1px;*/
    height: 100%;
  }



  .about-details p{
    padding: 0 1rem;
    font-size: .9rem;
    /*border: solid black 1px;*/
  }

  .about-image{
    text-align: center;
    height: 100px;
    /*border: solid black 1px;*/
  } 

  img{
    /*top: 50%;*/
    margin: center;
    /*max-width: 30vh;*/
    /*display: block;*/
    /*border: solid black 1px;*/
  }

  .contact{
    display: flex;
    flex-direction: column-reverse;
    /*flex-wrap: reverse-wrap;    */
    padding: 0 2rem;
  }

  .contact div{
    
    width: 100%;
    padding: 1rem 0 1rem;
    /*border: solid white 1px;*/
    height: 100%;
  }

  .contact-details p{
    padding: 0 1rem;
    font-size: .9rem;
    /*border: solid black 1px;*/
  }

  .contact-details h1{
    text-align: center
  }

  .contact-details form{
    padding: 0 1rem
  }






}
